@using Microsoft.AspNet.Identity
@model WebApplication4.Models.Feedback
@{
    ViewBag.Title = "Submit Feedback";
    <h1>Your FeedBack</h1>
}
<head>
    <title></title>
<script>
    function Test() {
        alert("We will report soon")
    }     </script>

    </head>
<body>
<p>You have used the flowing account: <strong>@User.Identity.GetUserName()</strong>。</p>
<p>Your ID ： <strong>@User.Identity.GetUserId()</strong>。</p>



@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
       
        <div style="border: 1px solid #3399FF;" >
            <br />
            <div class="editor-label">
                Name:     <input type="text">
            </div>
            <br />

            <div class="editor-label">
                E-mail:   <input type="text">
            </div>
            <br />
            <div class="editor-label">
                Feedback:  <textarea></textarea>
            </div>
            <br />
        </div>
        <br />
      
            <input id="test" type="button" value="Submit" onclick="javascript: Test();" />
            <div id="text"></div>
       
    </fieldset>
}
</body>