@{
    ViewBag.Title = "About";
}
<img src="~/images/About.jpg" height="100%" width="100%" style="position:absolute;z-index:-1000;opacity:0.5;" />

<div class="container">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
</div>

