@{
    ViewBag.Title = "Home Page";
}

@*<div class="banner-with-text">
    <div class="container">
        <div class="header">
            <div class="clearfix"> </div>
            <div class="header-bottom">
                <div class="clearfix"> </div>
            </div>
        </div>
        <div id="top" class="callbacks_container wow fadeInUp" data-wow-delay="0.5s">
            <ul class="rslides" id="slider3"></ul>
        </div>
    </div>
</div>
<div class="copyrights" style="height:100%"><img style="height:100%" src="~/images/668573_165905570157_2.jpg" /></div>
<div class="banner-bdy">
    <div class="container">
        <div class="banner-bottom" id="events">
            <div class="banner-bottom-grids">              
                <div class="clearfix"> </div>
            </div>
            <div class="features">
                <div class="col-md-9 features-left">
                    <h3> The following is the Job we offer, you can view the details</h3>
                    <div class="features-left-grids">
                        <div class="col-md-4 features-left-grid">
                            <a href="single.html"><img style="width:300px;height:400px" src="~/images/5.jpg" /></a>
                        </div>
                        <div class="col-md-8 jumbotron features-left-grid1">
                            <h4><a href="single.html">Part-Time Job</a></h4>
                            <p>
                                Java is an object-oriented programming language that can be used to write cross platform applications. 
                                Java technology has excellent versatility, high efficiency, platform portability and security,
                                 widely used in PC, data centers, game consoles, scientific supercomputers, mobile phones and the Internet, 
                                while having the world's largest developer of professional community
                            </p>
                            <p><a class="btn read btn-primary btn-lg" href="http://localhost:5873/Home/JAVA" role="button">Read More</a></p><p><a href="http://localhost:5873/Test/JavaTest1">Choose Job</a></p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>

                    <div class="features-left-grids">
                        <div class="col-md-4 features-left-grid">
                            <a href="single.html"><img style="width:300px;height:400px" src="~/images/8.jpg" /></a>
                        </div>
                        <div class="col-md-8 jumbotron features-left-grid1">
                            <h4><a href="single.html">Full-Time Job</a></h4>
                            <p>
                                .NET is XML Web services Microsoft platform. Web services XML allows applications 
                                to communicate and share data via Internet, regardless of which operating system, 
                                device, or programming language is used. .NET Microsoft platform provides the necessary 
                                to create Web services XML and integrate these services together. The benefits of the 
                                individual user is seamless, attractive experience.
                            </p>
                            <p><a class="btn read btn-primary btn-lg" href="http://localhost:5873/Home/NET" role="button">Read More</a></p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>

                    <div class="features-left-grids">       
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
               
            </ul>
        </div>
    </div>
</div>*@

<form id="form1" runat="server">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000" data-pause="false">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
            <div class="item active" style="background:url(images/slide1.jpg);background-size:100% 100%;">
            </div>
            <div class="item" style="background:url(images/slide2.jpg);background-size:100% 100%">
            </div>
            <div class="item" style="background:url(images/slide3.png);background-size:100% 100%">
            </div>
        </div>
        <!-- 轮播（Carousel）导航 -->
    </div>
    <div class="modelcover"></div>

    <div class="inner cover">
        <h1 class="cover-heading">Dream Job</h1>
        <p class="lead">We integrate, you communicate.</p>
        <p class="lead">
            @Html.ActionLink("Full-Time job", "NET", "Home", htmlAttributes: new { @class = "btn btn-lg btn-default" })
            @Html.ActionLink("Part-time job", "JAVA", "Home", htmlAttributes: new { @class = "btn btn-lg btn-default" })
            <a class="btn btn-lg btn-default" href="http://localhost:5873/Test/JavaTest1">Choose Job</a>
        </p>
    </div>
</form>