
@{
    ViewBag.Title = "JAVA";
}
<img src="~/images/FullTime.jpg" height="100%" width="100%" style="position:absolute;z-index:-1000;opacity:0.4;" />

<div class="container">


    <h2 class="page-header">Part-Time</h2>
    <div class="row">
        <div class="col-xs-6">
            <div>
                <div>
                    <h3>Student-Part</h3>
                </div>
                <div>
                    <h4>
                        Mainly responsible for handing out leaflets,
                        business brand publicity, preferential information publicity,
                        pin, merchants visit to obey the arrangement, proactive, serious and responsible,
                        lively open and bright, bears hardships and stands hard work
                    </h4>
                    <h4>
                        <b>Work Requirement</b> : Fluent mandarin, good communication skills, unlimited identity, height is not limited, any age
                    </h4>
                    <h4>
                        <b>Work Time</b> : Monday to Sunday<br />
                        Qingdao| sexs| 300 | distributed leaflets<br />
                        80 yuan/day | week and settlement

                    </h4>

                    <input id="modal" type="button" class="btn btn-primary btn-md" value="Apply" data-toggle="modal" data-target="#myModal" />
                </div>
            </div>
        </div>
            <div class="col-xs-6">
                <div>
                    <h3>Private Tutor</h3>
                </div>
                <div>
                    <h4>
                        <b>Job title</b>:A private tutor<br />
                        <b> salary</b>:80yuan/day<br />
                        <b> minunum degree</b>:Undergraduate course<br />
                        <b> work-experice</b> :one-three years<br />
                        <b>age</b>  :23 years of age or older<br />
                        <b>  workplace</b>:xiazhuang<br />
                        <b>phone number</b>  :15347754322<br />
                        <b>recruiting numbers</b>  :2 people<br />
                        <b>Working place</b>  :Qingdao pingdu MingCun Town opposite the school<br />
                        <b> Working time</b> :Monday, Tuesday, Wednesday, Thursday, Friday, Saturday<br />
                    </h4>

                    <input type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal" value="Apply" />
                </div>
            </div>
        
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Info</h4>
                    </div>
                    <div class="modal-body">
                        <p>We will contact you within 3 days<br />Or you can phone 15066830879<br />You have to fill resume.</p>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-primary" href="../resumes">Resume</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
