
@{
    ViewBag.Title = "DOT NET";
}
<img src="~/images/FullTime2.jpg" height="100%" width="100%" style="position:absolute;z-index:-1000;opacity:0.4;" />

<div class="container">
    <h2 class="page-header">Full-Time</h2>
    <div class="row">
        <div class="col-xs-6">
            <div>
                <div>
                    <h3>Courier</h3>
                </div>
                <div>
                    <h4>
                        <b>salary</b> :5000-6000yuan<br />
                        <b></b> workplace:Shibei district<br />
                        <b> work-experice</b>     :no limit<br />
                        <b>   minunum degree</b>  :no limit<br />
                        <b> recruiting numbers</b>   :5 people<br />
                        <b>  company size</b>   :20 people<br /><br />

                        <b>   responsibility</b>:   <br />
                        1.Responsible for the items in the area served<br />
                        2.Ensure customer express is not damaged<br />
                        3.Organize and present the relevant business documents<br />
                    </h4>
                    <input type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal" value="Apply" />
                </div>
                <br /><br />
            </div>
        </div>
        <div class="col-xs-6">
            <div>
                <h3>Salesman</h3>
            </div>
            <div>
                <h4>
                    <b>salary</b>:5000-6000yuan<br />
                    <b>workplace</b>:Jiulong real estate company<br />
                    <b>work-experice</b>:one-three years<br />
                    <b>minunum degree</b>:high school diploma or above<br />
                    <b>recruiting numbers</b>:10 people<br />
                    <b>company size</b>:120 people
                    <br /><br />


                    <b>responsibility</b>:<br />
                    1.Be responsible for the maintenance of old customers<br />
                    2.According to the division index, achieve sales target<br />
                    3.Responsible for the sales area sales plan<br />

                </h4>
                <input type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal" value="Apply" />
            </div>
        </div>
    
    
        
    </div>
</div>
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Info</h4>
            </div>
            <div class="modal-body">
                <p>We will contact you within 3 days<br />Or you can phone 15066830879<br />You have to fill resume.</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" href="../resumes">Resume</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->